body {
    font-family: 'Quicksand', sans-serif;
    background-image:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NkzqDhfneildzktre/grunge-dark-background-4k-uhd_bhp1rbu___F0000.png") ;
    background-size: cover;

}
.font-x-large {
    font-size: xx-large;
}

.jumbotron{
    background: #798393;
}